*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: #235c5c;
    width: 100%;
    height: 20vh;
}
.logo {
    display: flex;
    justify-content: center;
    
}
.goku {
    
    width: 5rem;
}
.animacion{
    animation: animar 1s infinite alternate
    
}
@keyframes animar{
    to{
        transform: translatey(20px)
    }
}
.animax{
    color:white;
    text-decoration: none;
    position: relative;
    top: 8vh;
    
}
.mainDetalle {
    background:linear-gradient(to right top,  #235c5c, #6d6969a7);

}
.detalle {
    padding-top:50px;
    background:linear-gradient(to right top, #6d6969a7, #6d6969a7),url(../img/kaijuno8-anime\ fondo.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    color: rgb(249, 250, 254);
}
.contenedorDetalle{
    width:75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
}
img{
    border-radius: 20px;
}
h1{
    font-size: 2.2rem;
    font-weight: 700;
    color: white;
}
h2{
    margin-top:20px;
    color: white;
}
.trailer {
    width:75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 70px;
    
}
@media screen and (max-width:1200px){
    .mainDetalle{
        .detalle{
            height: initial;
            .contenedorDetalle{
                flex-direction: column;
                row-gap: 20px;
                img{
                    width: 100%;
                    height: 300px;
                }
                .textoDetalle{
                    h1{
                        font-size: 1.5rem;
                        color: white;
                    }
                    h2{
                        font-size: 1rem;
                        color: white;
                    }
                    .contenedorCreditos{
                        flex-direction: column;
                        row-gap: 10px;
                    }
                }
            }
        }
        .trailer{
            width:95%;
            padding-top:50px;
            padding-bottom: 50px;
            flex-direction: column;
            row-gap: 20px;
            .contenedorTrailer{
                width: 100%;
                h2{
                    margin-bottom: 20px;
                    
                }
                iframe{
                    width: 100%;
                    height: 300px;
                
                }
            }



        }
    }

}
.footer{
    background-color: rgb(35, 92, 92);
    color:#ffffff;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .listaNav{
        list-style: none;
        display: flex;
        align-items: center;
        .listaItem{
            /*margin-left:20px;*/
            margin-right: 20px;
            .linkNav{
                text-decoration: none;
                color:#ffffff;
                font-weight: 700;
                font-size: 1.2rem;
            }
            .administradorPeliculas{
                /*background-color: #982fb3;*/
                color: white;
                padding: 0.5rem 1rem;
                border-radius: 5px;
            }
        }
    }
  }